<mat-toolbar class="header">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="logo-button" mat-button routerLink="/">
      <span>RxJS Examples</span>
    </a>

    <span class="spacer"></span>

    <a class="icon-text-button" mat-button routerLink="/">
      <mat-icon svgIcon="angular"></mat-icon>
      <span>Angular para Programadores Junior</span>
    </a>

    <span class="spacer"></span>

    <a mat-icon-button href="https://github.com/hello-world-capitanes" target="_blank">
      <mat-icon svgIcon="github"></mat-icon>
    </a>
    <a mat-icon-button href="https://www.helloworld-school.com/" target="_blank">
      <mat-icon svgIcon="helloWorld"></mat-icon>
    </a>
</mat-toolbar>